.footer {
  background-color: var(--dark-color);
  color: white;
  padding: 20px 0;
  margin-top: auto;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-content p {
  margin: 0;
}

.footer-links {
  display: flex;
}

.footer-link {
  color: #ddd;
  text-decoration: none;
  margin-left: 20px;
  transition: color 0.3s ease;
  background: none;
  border: none;
  cursor: pointer;
  font-size: inherit;
  font-family: inherit;
  padding: 0;
}

.footer-link:hover {
  color: white;
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
  }
  
  .footer-content {
    margin-bottom: 15px;
  }
  
  .footer-links {
    flex-direction: column;
  }
  
  .footer-link {
    margin: 5px 0;
    margin-left: 0;
  }
}